.BICEP1
{
	background-image:url(BICEP1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	margin-top:10px; 
	height:400px;
	width:600px;
}

.BICEP2
{
	background-image:url(BICEP2.jpg);
	background-repeat:no-repeat;
	background-size:contain;
	margin-top:10px; 
	height:400px;
	width:450px;
}
.BICEP3
{
	background-image:url(BICEP3.jpg);
	background-repeat:no-repeat;
	background-size:contain;
	margin-top:10px; 
	height:400px;
	width:700px;
}
.BICEP4
{
	background-image:url(BICEP4.jpg);
	background-repeat:no-repeat;
	background-size:contain;
	margin-top:10px; 
	height:400px;
	width:500px;
}
